/* @group Body & Global */

body {
    color:  #777;
    background: #000;
    line-height: 2em;
    font-family: 'Armata' !important;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Armata' !important;
    color: #fff;
}

a {
    color:  #ff0000;
    text-decoration: none;
}

.strip {
    margin:  0;
    padding:  0;
}

ul.strip li {
    list-style: none;
}

.spacer {
    margin: 50px 0;
}

.btn-default {
    background: #ec1b23;
    color: #fff;
    border:  none;
    padding:  10px 15px;
    cursor:  pointer !;
}

.btn-default:hover {
    background-color: #bf1e2c;
    color: #fff;
    cursor:  pointer;
}

.text-red {
    color: #ec1b23;
}

.text-jumbo {
    font-size: 8em
}

.allcaps {
    text-transform: uppercase;
}

.space {
    margin-top: 70px;
}

.border-left {
    border-left: 1px solid #ccc;
}

.border-right {
    border-right: 1px solid #ccc;
}


.sink {
    float:  none;
}

.auto {
    margin:  auto;
}

.fade {
    position:  absolute;
    height: 100px;
    width: 100%;
    bottom: 0;
    background-image: -webkit-linear-gradient(top, rgba(8, 8, 8, 0) 0%, black 100%);
    background-image: -moz-linear-gradient(top, rgba(8, 8, 8, 0) 0%, black 100%);
    background-image: -ms-linear-gradient(top, rgba(8, 8, 8, 0) 0%, black 100%);
    background-image: linear-gradient(to bottom, rgba(8, 8, 8, 0) 0%, black 100%);
}

/* @end */

/* @group Splash */

#splash {
    min-height:  110vh;
    background:  url(img/splashbg.jpg) no-repeat;
    background-size:  100% auto;
    position: relative;

}

#splashtext {
    margin-top: 10%;
    position: relative;
    z-index:  500;
}

#splashtext h1 {
    margin-top: 70px;
}

#titlecontent {
    margin-top: 80px;
}

#logo {
    opacity: 0;
    -webkit-animation-delay: 1.5s; /* Chrome, Safari, Opera */
    animation-delay: 1.5s;
}

#logo img {
    width: 100%;
    height:  auto;
}

.clouds {
    position: absolute;
    z-index: 0;
    top:  0;
    left:  0;
    height:  100%;
    width:  100%;
    background:  url(img/clouds.png) no-repeat;
    background-size:  cover;
    opacity: 0.2;
}

/* @end */

#about {
    min-height: 100vh;
}


@media (max-width: 767px) {

    body {

    }

    #splashtext {
        margin-top: 5vh;
    }

    .border-left {
        border:  none;
    }

    #register li {
        margin:  0 0 20px 0;
    }

    #register li input, #register li select {
        margin: 0px 0;
    }

    #splashtext h1 {
        font-size: 1em
    }

    #about iframe {
        height: 220px;
    }

}
